@use 'fonts'; 

* {
    color: fonts.$main-txt-color;
}

.header {
    margin: auto; 
    margin-top: 62px;
    max-width: 864px;
    width: 100;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;

    &__logo {
        font-family: "aldrich", serif;
        font-style: normal; 
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
        color: fonts.$main-txt-color;
    }

    &__links {
        display: flex;
        font-family: "source sans 3", serif;
        font-style: normal;
        font-size: 16px;
        line-height: 22.4px;
    }
        &__links li, &__links li a {
            margin-left: 28px;
            list-style: none;
            text-decoration: none;
        }

        &__links li:hover, &__links li a:hover {
            color: #DBE4FF;
        }
}

.toggle {
    position: absolute; 
    max-width: 320px;
    width: 100%; 
    height: 24px;    
    display: none;
    justify-content: flex-end;
}

.fa-ellipsis {
    position: absolute;
    font-size: 24px;
    text-align: center;
    padding-right: 20px; 
}

/* Tablet */
@media screen and (max-width: 768px) {
    .header__logo {
        font-family: "baloo 2", serif; 
        font-weight: 800;
        font-size: 24px;
        line-height: 36px; 
        letter-spacing: -0.24px;
    }

    .header {
        margin-left: 20px;
        margin-right: 20px; 
    }
}

/* Mobile */
@media screen and (max-width: 320px) {
    .header {
        margin-left: 20px;
        margin-right: 20px; 
    }

    .toggle {
        display: flex; 
    }

    .header__links {
        display: none; 
    }
}
