/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use 'fonts';

@import 'header'; 

.main {
    max-width: 864px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    &__header {
        margin-top: 30px; 
        font-family: "poppins", serif;
        font-weight: 500px; 
        font-size: 90px; 
        line-height: 102px;
        letter-spacing: -2px;
        margin-bottom: 30px; 
    }

    &__text {
        max-width: 573.5px;
        width: 100%; 
        font-family: "source sans 3", serif;
        font-style: normal; 
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 47px; 
        -ms-flex-wrap: wrap; 
            flex-wrap: wrap; 
    }

    &__image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 864px;
        width: 100%;
        min-height: 328px;
        height: 100%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .main {
        max-width: 617px;
        width: 100%;
    }

    .main__header {
        font-size: 72px; 
        font-style: normal;
        line-height: 82.8px;
        letter-spacing: -1.6px;
    }

    .main__info {
        margin-left: 20px;
        margin-right: 20px; 
    }  
}

/* Mobile */ 
@media screen and (max-width: 320px) {
    .main {
        max-width: 256px;
        width: 100%;
    }

    .main__header {
        font-size: 36px;
        line-height: 39.6px;
        letter-spacing: -0.8px;
    }

    .main__text {
        font-size: 12px; 
        line-height: 18px; 
        margin-left: 20px;
        margin-right: 20px; 
    }  
}