@use 'fonts';

@import 'header'; 

.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        margin-top: 80px; 
        font-family: "poppins", serif;
        font-weight: 500px; 
        font-size: 90px; 
        line-height: 102px;
        letter-spacing: -2px;
        margin-bottom: 30px; 
    }

    &__text {
        font-family: "source sans 3", serif;
        font-style: normal; 
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 47px; 
    }

    &__image {
        max-width: 864px;
        width: 100%;
        min-height: 328px;
        height: 100%;
    }
}
